<novo-loading *ngIf="loading"></novo-loading>
<div class="mobile-filter-container">
<button theme="secondary" (click)="openSidebar()" icon="filter" side="left">{{ 'FILTER'   | translate }}</button>

</div>
<div class="open-positions">
    <span class="open-positions-text">{{ 'OPEN_POSITIONS'   | translate }} ({{ total }})</span>
</div>
<!-- <novo-list direction="vertical" *ngIf="!loading && jobs.length > 0"> -->

<div *ngFor="let job of jobs" class="job-card" [routerLink]="'jobs/' + job.id" (click)="loadJob(job.id)">
    <div class="card mb-3" style="max-width: 900px;">
        <div class="row  g-0">
          <div class="col-md-4">
            <img src="assets/cityscape1.jpg" class="img-fluid rounded-start align-center" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title gap-0"><span class="text-primary"><strong>{{ job.title.replace('Allied','') }}</strong></span></h1>
              <h3 class="align-text-bottom bg-success text-white"><span><strong>${{ job.payRate }} /wk</strong></span></h3><br>
              <p>ksfhjsdfhsadjkfhasdh fjkasdhjklfhasdfhjk sadhfkhsdfhkas</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
<div class="empty-list" *ngIf="!loading && jobs.length === 0">
  <i class="bhi-search-question"></i>
  {{ 'NO_MATCHING_JOBS ' | translate }}
</div>
