<novo-loading *ngIf="loading"></novo-loading>
<div class="content-column col-lg-8 col-md-12 col-sm-12">
  <div class="ls-outer">
    <button type="button" class="theme-btn btn-style-two toggle-filters">Show Filters</button>
    <div class="ls-switcher">
     <div class="showing-result">
      <div class="open-positions">
        <span class="open-positions-text">{{ 'OPEN_POSITIONS'   | translate }} ({{ total }})</span>
    </div>
<!-- <button theme="secondary" (click)="openSidebar()" icon="filter" side="left">{{ 'FILTER'   | translate }}</button> -->
   </div>
  </div>
<!-- Job Block -->
  <div *ngFor="let job of jobs" class="job-block" [routerLink]="'jobs/' + job.id" (click)="loadJob(job.id)">
   <div class="inner-box">
    <div class="content">
      <span class="company-logo">
        <img src="assets/cityscape1.jpg" alt>
      </span>
      <h3>{{ job.title.replace('Allied','') }}</h3>
              <h4 class="align-text-bottom bg-success text-white"><span><strong>${{ job.payRate }} /wk</strong></span></h4><br>
              <p>ksfhjsdfhsadjkfhasdh fjkasdhjklfhasdfhjk sadhfkhsdfhkas</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>   
<div class="empty-list" *ngIf="!loading && jobs.length === 0">
  <i class="bhi-search-question"></i>
  {{ 'NO_MATCHING_JOBS ' | translate }}
</div>
